<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>Android 开发艺术探索.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>604823593.11179101</real>
				<key>lastModification</key>
				<real>604823593.11179101</real>
				<key>version</key>
				<dict>
					<key>526fe5feb1ad7dfab6f0af9f6773e70b445922946be75da76b3f169e3585d2dc</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>Binder.md</key>
			<dict>
				<key>lastModification</key>
				<real>604821491.77829397</real>
				<key>version</key>
				<dict>
					<key>526fe5feb1ad7dfab6f0af9f6773e70b445922946be75da76b3f169e3585d2dc</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>插件化.md</key>
			<dict>
				<key>lastModification</key>
				<real>604821491.77829504</real>
				<key>version</key>
				<dict>
					<key>526fe5feb1ad7dfab6f0af9f6773e70b445922946be75da76b3f169e3585d2dc</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>日常开发问题.md</key>
			<dict>
				<key>lastModification</key>
				<real>604821491.77829599</real>
				<key>version</key>
				<dict>
					<key>526fe5feb1ad7dfab6f0af9f6773e70b445922946be75da76b3f169e3585d2dc</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>系统源码.md</key>
			<dict>
				<key>lastModification</key>
				<real>604821491.77829504</real>
				<key>version</key>
				<dict>
					<key>526fe5feb1ad7dfab6f0af9f6773e70b445922946be75da76b3f169e3585d2dc</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Android 开发艺术探索.md</string>
		</array>
		<array>
			<string>Binder.md</string>
		</array>
		<array>
			<string>插件化.md</string>
		</array>
		<array>
			<string>系统源码.md</string>
		</array>
		<array>
			<string>日常开发问题.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>526fe5feb1ad7dfab6f0af9f6773e70b445922946be75da76b3f169e3585d2dc</key>
			<integer>2</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>526fe5feb1ad7dfab6f0af9f6773e70b445922946be75da76b3f169e3585d2dc</key>
			<integer>6</integer>
		</dict>
	</dict>
</dict>
</plist>
