<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Algorithm.md</key>
			<dict>
				<key>lastModification</key>
				<real>604821338.81786704</real>
				<key>version</key>
				<dict>
					<key>526fe5feb1ad7dfab6f0af9f6773e70b445922946be75da76b3f169e3585d2dc</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>DataStructure.md</key>
			<dict>
				<key>lastModification</key>
				<real>604821338.81786704</real>
				<key>version</key>
				<dict>
					<key>526fe5feb1ad7dfab6f0af9f6773e70b445922946be75da76b3f169e3585d2dc</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>604821398.42032194</real>
				<key>version</key>
				<dict>
					<key>526fe5feb1ad7dfab6f0af9f6773e70b445922946be75da76b3f169e3585d2dc</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>排序算法.md</key>
			<dict>
				<key>lastModification</key>
				<real>604821396.14779305</real>
				<key>version</key>
				<dict>
					<key>526fe5feb1ad7dfab6f0af9f6773e70b445922946be75da76b3f169e3585d2dc</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>查找算法.md</key>
			<dict>
				<key>lastModification</key>
				<real>604821373.48007798</real>
				<key>version</key>
				<dict>
					<key>526fe5feb1ad7dfab6f0af9f6773e70b445922946be75da76b3f169e3585d2dc</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>排序算法.md</string>
		</array>
		<array>
			<string>查找算法.md</string>
		</array>
		<array>
			<string>Algorithm.md</string>
		</array>
		<array>
			<string>DataStructure.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>526fe5feb1ad7dfab6f0af9f6773e70b445922946be75da76b3f169e3585d2dc</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
